@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.title {
  font-family: 'Permanent Marker';
  font-size: 30px;
  text-align: center;
}

.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}